# Unless the POV-Ray executable is in your PATH, you should 
# set povray_executable to point to the full path of the program.
# (On Windows, this may look like: POV-Ray/v3.6/bin/pvengine-sse2.exe)
# (On Linux, you can likely just set it to "povray")
povray_executable=povray

#Right now, there aren't any other options to set...
